# Pyrogram Session Files (Very Important for Security)
*.session
*.session-journal

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables file (if you test locally)
.env

# Virtual Environment
venv/
env/
